export(get_authority)
export(get_etp)
export(get_platform)
export(get_probe)
importFrom(httr,build_url)
importFrom(RODProt,get_resource)
importFrom(RODProt,HTTPGetter)
importFrom(RODProt,read_data_package)
importFrom(RODProt,read_json_table)
